/* Work sens from google fonts */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..900&display=swap');

* {
    font-family: "Work Sans", serif;
    /* margin: 0px;
    padding: 0px; */
}

/* shared related styles */

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 24px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.25rem;
    cursor: pointer;
    border: 0;
    margin-bottom: 50px;
}

.display-flex {
    display: flex;
}

main>section {
    margin-top: 130px;
}

.text-primary {
    color: #FF900E;
}

.text-gray {
    color: #424242;
}

.text-light-gray {
    color: #727272;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
}

/* header related styles */

header {
    background-color: #FFF4E7;
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 50px; */
}

nav h3 {
    color: #131313;
    font-weight: 700;
    font-size: 3rem;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 40px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner related styles */

.banner-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner-description {
    color: #727272;
    margin-bottom: 30px;
}

.banner img {
    width: 100%;
}

/* teams related styles */

main {
    max-width: 1440px;
    margin: 0 auto;
}

.teams {
    display: flex;
    align-items: center;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features {
    margin-left: 130px;
    max-width: 530px;
}

.feature-description {
    margin-top: 24px;
    margin-bottom: 30px;
}

#quick-list {
    font-weight: 500;
}

/* features section related styles */

.features {
    gap: 140px;
}

#feature-section-title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.feature-card {
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-top: 20px;
}

.feature-card .feature-title {
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

#experience-badge {
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: -130px;
    margin-left: -80px;
}

#experience-year {
    font-weight: 700;
    font-size: 4rem;
}

.f-img img {
    width: 100%;
}

/* some facts related styles */

.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.fact-card {
    border: 1px solid #FF900E;
    width: 230px;
    height: 230px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.fact-number {
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fact-name {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}

.fact-description {
    max-width: 540px;
}

/* sponsors style */

.sponsor-info {
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponsor-companies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsor-companies img {
    filter: grayscale(100%);
}

/* footer related styles */

#footer-title {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    background: #FFF4E7;
    margin: 130px 240px;
    padding: 35px 400px;
    border-radius: 8px;
}

/* responsive media queries for mobaile */

@media screen and (max-width:576px) {

    main>section {
        margin-top: 10px;
    }

    header {
        padding: 20px;
    }

    nav,
    .features,
    .teams {
        flex-direction: column;
        margin-top: 10px;
    }

    nav h3 {
        margin-bottom: 10px;
    }

    .team-img-container,
    .facts-container,
    .sponsor-companies {
        grid-template-columns: repeat(1, 1fr);
    }

    .facts-container,
    .sponsor-companies {
        justify-items: center;
        gap: 24px;
    }

    .section-title,
    .fact-description {
        text-align: center;
    }

    .our-features {
        margin-left: 20px;
    }

    .features {
        gap: 10px;
    }

    .btn {
        margin-left: 25%;
    }

    #experience-badge {
        margin-top: 10px;
        margin-left: 30px;
    }

    #footer-title {
        margin: 30px 30px;
        padding: 15px 2px;
    }

}

/* responsive media queries for tab or ipad */

@media screen and (min-width:576px) and (max-width: 992px) {
    header {
        padding: 30px;
    }

    nav,
    .teams,
    .features {
        flex-direction: column;
    }

    .our-features {
        margin: 50px auto;
    }

    .sponsor-companies,
    .facts-container {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 50px;
    }

    #experience-badge {
        margin-top: 10px;
        margin-left: 30px;
    }
}